
<div>
    <h2><span>Message</span> {{message.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Author</span>
                </td>
                <td>
                    <span class="form-control-static">{{message.author}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Message</span>
                </td>
                <td>
                    <span class="form-control-static">{{message.message}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Image</span>
                </td>
                <td>
                    <img data-ng-src="{{'data:' + message.imageContentType + ';base64,' + message.image}}" style="max-width: 100%;" ng-if="message.image"/>
                    <div>{{message.imageContentType}}  {{byteSize(message.image)}}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
